[2021-09-18 13:58] Skjall commented on #438
Added Pull Request with nessecary changes
https://github.com/homebridge-xiaomi-roborock-vacuum/homebridge-xiaomi-roborock-vacuum/pull/440

[2021-09-18 18:42] bsoener commented on #408
I have the same problem now. My Fritzbox is connected to the mesh so I get the same error message. How did you solve the problem?

[2021-09-23 11:10] birdofhermes opened #443 "Support for Viomi S9 (viomi.vacuum.v18)"
Hello

I wanted to add my S9 to the homebridge, and after configuration and set up, all of the "get-device" statuses are remaining undefined and the get state is in status time out

`Starting to advertise 'Homebridge AB27 FFAA' using bonjour-hap backend!
[23/09/2021, 13:07:59] Homebridge v1.3.4 (Homebridge AB27) is running on port 51544.
[23/09/2021, 13:08:09] [Xiaomi Mi Robot Vaccum 1st Generatio

[2021-09-23 17:04] majidmostafa commented on #407
Hi Guys,
Please I have an issue with my Dreame Vacuum D9 (dreame.vacuum.p2009) which is dead!! (No interaction, no light, no reaction, ...) before that I have switched my Mi Home account from Singapore to French ( because I wanted to link it with my Alexa :( )
It was fully charged and it have requested me to update the firmeware but after that I disovered that the robot is dead and I tried to rese

[2021-09-23 21:05] bsoener opened #444 "Xiaomi ERR Connect"
Why do I always get this error message? The Ip address is correct, token was checked. Since I have connected my Fritzbox to the mesh, I always get this error. Does anyone know what to do?

[Xiaomi Roborock] ERR connect | miio.device, next try in 2 minutes | Error: Could not connect to device, handshake timeout

[2021-09-25 20:57] kikher commented on #370
hi i am trying to use termial with that line of code but it tells me that the command cannot be found.
Could you explain how to use miiocli please?

[2021-09-26 04:21] Einstein2150 commented on #370
You have to install it with the Python package manager: `pip3 install python-miio `

[2021-09-26 21:30] kikher commented on #370
Thank you very much I just tried it and it works!  one last question, is there any way to identify the long number with the room?

[2021-09-27 03:46] Einstein2150 commented on #370
No

[2021-09-30 15:08] petaBitsDev commented on #444
+1 Same problem here

[2021-10-04 13:25] migudev96 opened #445 "Roborock Annoying noise"
When i Start the Roborock it is all all fine and works very well. But when the Roborock get started by an automation, there is every secound the „ding“ noise non stop, like you would change the vaccum options of the suction power or the wipe intensity. I only can stop the noise when i turn the vaccum off and on again or when i restart the homebridge.

Hope anyone can help me. I use the newest vers

[2021-10-06 20:01] notorioustubze opened #446 "Log filling up with error but S7 still works fine in HK?"
[06/10/2021, 20:37:30] [Roborock S7] ERR getState | {"code":"timeout"}
[06/10/2021, 20:38:30] [Roborock S7] ERR getState | {"code":"timeout"}
[06/10/2021, 20:39:30] [Roborock S7] ERR getState | {"code":"timeout"}
[06/10/2021, 20:40:00] [Roborock S7] ERR getState | {"code":"timeout"}
[06/10/2021, 20:41:00] [Roborock S7] ERR getState | {"code":"timeout"}
[06/10/2021, 20:42:30] [Roborock S7] ERR getS

[2021-10-16 07:38] alephsmith commented on #443
I also have this model and would like to help to get this supported.

[2021-10-17 15:47] bsoener commented on #444
[code]

[2021-10-20 22:00] adamrzanek opened #447 "Reverse occupancy sensor"
What do you think about make an option for reverse occupancy sensor. Then we can make “native” notification when the robot starts cleaning.

[2021-10-21 10:58] dirbuf commented on #443
+1 would also like my s9 to be compatible with this plugin

[2021-11-02 06:10] afharo commented on #439
Hmmm! That's a good one! I may need to take a look at the code. My model doesn't have a separate water slider... so I can't test it myself.

My gut feeling though, thinks that you should select a different fan speed (probably the speed you're selecting is the mop mode)

[2021-11-02 21:19] avielc commented on #379
Would like to add -
I saw Homebridge also has a plugin -
![image](https://user-images.githubusercontent.com/13572969/139953064-84823a51-c8ad-4cd9-af9d-82d270e30127.png)

Was wondering if it works there too @sergmuz @AlexBomber12 @joeltimothyoh

[2021-11-05 17:21] Donni1966 commented on #444
Get the same with my Robos
`[05/11/2021, 18:06:51] [RobiS5] ERR getSerialNumber | Failed getting the serial number. Error: Call to device timed out
    at DeviceInfo._retryOnTimeout (/usr/local/lib/node_modules/homebridge-xiaomi-roborock-vacuum/miio/lib/device_info.js:295:29)
    at runMicrotasks (<anonymous>)
    at runNextTicks (internal/process/task_queues.js:60:5)
    at listOnTimeout (interna

[2021-11-07 18:33] nielsth commented on #447
+1 for this. I think it makes more sense for an occupancy sensor to be active when there is movement/activity in the Home.

[2021-11-08 20:14] Essdy commented on #366
It is still ongoing issue unfortunately. :(

https://github.com/homebridge-xiaomi-roborock-vacuum/homebridge-xiaomi-roborock-vacuum/discussions/449
+
https://github.com/homebridge-xiaomi-roborock-vacuum/homebridge-xiaomi-roborock-vacuum/issues/386

[2021-11-08 20:24] Essdy commented on #386
I am facing the same issue unfortunately.
https://github.com/homebridge-xiaomi-roborock-vacuum/homebridge-xiaomi-roborock-vacuum/discussions/449

[2021-11-16 00:21] #446 closed

[2021-11-18 03:18] fortil commented on #150
I followed the steps to download the info and send the [plugin](https://stupidhouse.info/node/34/) to that folder and after I downloaded `homebridge-miot` and I put all information with the folder of that and everything is working on my homekit.

[2021-11-19 08:54] zibo29 commented on #150
Can you help me on this? i would like to add Mi 1C to Homekit using Homebridge - thanks!

[2021-11-19 14:11] dsafarik-cen89982 opened #450 "Viomi v2 Pro support"
Hello,
it is possible to add support for viomi.vacuum.v6 ?

Or it is the same as viomi.vacuum.v7?

Thank you.

[2021-11-30 15:54] clickme83 opened #451 "Use dns name instead of ip"
Can you please add support to resolve dns names ad enhance the ip field to ip/hostname field?

thanks

[2021-12-01 01:11] xraywinedrinker opened #452 "Cleaning cycles in room setting"
First off, thanks for developing this app, It is working great. With the recent update for cross-hatch cleaning with two cycles, is it possible to provide the ability to set the number of cycles when cleaning a room?

[2021-12-01 09:59] #438 closed

[2021-12-01 12:52] petrocino opened #455 "Error on Homebridge"
Hi there.

I got this error when I've tried to add to Homebridge:

[code]

It showed moments before, but now has vanished from home app, and presenting this error.
I've configured it as a 'bridge' into homebridge.

Any ideas??

[2021-12-01 12:53] petrocino commented on #455
By the way:

My robot is the "Xiaomi Mi Robot Vacuum-Mop P"

[2021-12-01 13:09] afharo commented on #455
Hi! Yeah... it's a known error for Viomi robots... I'll try to make this error silent while we figure out the right way to retrieve their serial number

[2021-12-01 13:17] petrocino commented on #455
Right...
But two questions:

- It's normal, due this error, the plugin not work properly?
- It's correct to assign this plugins as a "bridge", to run isolated from all Homebridge system?

Tks

[2021-12-01 13:20] #386 closed

[2021-12-01 13:20] #414 closed

[2021-12-01 13:20] #455 closed

[2021-12-03 16:06] Marfre888 opened #458 "Expose tile as a switch (not fan)"
Hi,

Firstly thank you for this plugin, it has been very helpful to get my vacuum into homekit.

One little problem I have with this plugin however is that because it is exposed as a fan, if I ask Siri to turn on my fan, it would also turn on this vacuum as they are in the same room.

Would it be possible to add a function to expose this plugin as an on/off switch.

Thanks

[2021-12-03 19:42] afharo commented on #458
That's an interesting approach. How would it work for the modes? One switch for each "speed"?

[2021-12-03 20:09] fmpmsilva opened #459 "ERR getState | {"code":"timeout"}"
Hi there.

Just tried to connect my new Mi Vaccum Mop and I get ERR getState | {"code":"timeout"}.

Any ideas?

Thanks

[2021-12-03 20:21] fmpmsilva commented on #459
Got the token in tokenextractor.exe

[2021-12-06 15:25] Marfre888 commented on #458
Well, I can only speak for myself, but realistically as soon as you choose the suction speed inside the Mi app, you have very little reason to change it.

The reason I find for wanting to expose the vacuum inside of homekit is to be able to run it when certain conditions are met. This is only possible to do inside of homekit, so in my case, just having a switch to start vacuuming, with no modes, w

[2021-12-07 19:24] ptath commented on #434
same problem

[2021-12-07 19:55] ptath opened #461 "Problem with dreame.vacuum.mc1808 FW 4.1.8_1118"
On first install it looks fine, but after first charging and firmware update (_not sure_) all broke

[code]

[2021-12-09 18:12] afharo commented on #434
Hi! I'm afraid the Dreame models are not supported by this plugin yet. Related to #407.

I may need some time to implement it. Also, if anyone wants to take a dive and submit a PR, it'd be great!

[2021-12-11 21:01] nils-hde commented on #342
Can confirm the same thing on a Roborock S7, firmware 4.1.5_1398

Automatic room discovery does not work.

[2021-12-12 16:57] BaRaD5 opened #463 "Token might be wrong"
Hey!
I’m having issue while connecting my roborock s7
Says token might to wrong
I did reset the WiFi and got a new token but still says the same
Could any one point me to solve this?

[2021-12-12 16:59] BaRaD5 commented on #463
Doing the inspect command will show all the info about the vacuum but in HomeKit shows no response

[2021-12-14 17:30] francescosabia opened #464 "problem with autoroom"
hi! i have a roborock s7.. and fully autoroom doesn't work. when i try the semi automatic i have this in the log

Cannot add a Service with the same UUID '00000049-0000-1000-8000-0026BB765291' and subtype 'roomServiceundefined' as another Service in this Accessory

can u help me please?

[2021-12-14 17:39] #464 closed

[2021-12-14 17:49] francescosabia commented on #439
hi! i have the same problem.. when turning off waterbox it comes mack to the dock... is better to have the switches for the modes and not the fan (like the xiaomi cooling fan plugin) so we can adjust it better...

[2021-12-14 18:20] francescosabia opened #465 "problem with rooms"
i have a s7 model. i set up the rooms but when i tell it to clean the room where the dock is it starts cleaning but after some seconds it says cleaning done..what can it be?

[2021-12-14 19:24] #465 closed

[2021-12-15 10:04] Christian-CFP commented on #418
Any news on this?

[2021-12-17 23:48] biogerm opened #466 "S7+ dust collector version, nothing works but "where are you""
Hi,

For some reason nothing but "findMe" works for my S7+ dust collector version. Just got the roborock plug-in today and configured it as simple as possible:

`"pause": false,
            "dock": true,
            "dustCollection": true,
            "waterBox": true,
            "findMe": true,
            "findMeWord": "where are you",
            "cleanword": "cleaning"`

For example I got thi

[2021-12-24 07:00] afharo commented on #463
Can you share the logs that you get, please?

[2021-12-24 07:02] afharo commented on #418
Personally I didn't have time to work on this. My spare time got highly reduced ever since my son was born 😅.
PRs are welcomed though 😉

[2021-12-24 07:05] afharo commented on #466
It's interesting that we get "access denied" when trying to set the cleaning state... I'll need to dig further

[2021-12-24 09:13] Christian-CFP commented on #418
All the best for you and your son! Hope you can work on it someday.

[2021-12-25 14:27] mpuff commented on #296
i have this same error on a Xiaomi Mi Robot 1S.

[2021-12-25 22:52] ivofernandespt opened #468 "Room Cleaning"
I have one S7.
I mapped rooms on HB as described but even I defined timeout to 0, in home app I need to turn on main fan switch after turning on room switch.
But the biggest problem is that robot starts cleaning but after a few seconds it says that cleaning is completed I it will return to dock.

Can you please help?

[2021-12-26 16:34] LukasEm commented on #468
Hello,
I have the same issue, model S7 as well.

[2021-12-27 06:56] BaRaD5 commented on #463
Had to completely remove the plugin and install it again, changing versions didnt help.
Now everything works fine, thank you!

[2021-12-27 06:56] #463 closed

[2021-12-27 08:46] afharo commented on #296
Can you confirm the model identifier as you see it in the logs (something like `rockrobo.vacuum.v1`)?
Thank you!

[2021-12-27 21:38] mpuff commented on #296
[12/27/2021, 9:11:18 PM] [Xiaomi Mi Robot Vaccum 1s] INF getSpeed | roborock.vacuum.m1s | Fanspeed is 104 over miIO. Converting to HomeKit

now I get these message, 104 is ok, the model id looks ok

[2021-12-27 21:41] afharo commented on #296
We might need to define the correct mapping of the speeds in the models.js file

[2021-12-27 21:44] afharo commented on #468
Hi! The last time I saw that happening is because the room IDs didn't match (probably the map was updated)

[2021-12-27 21:47] ivofernandespt commented on #468
Can you please help how to map IDs? Following instructions it doesn’t work.

Obter o Outlook para iOS<https://aka.ms/o0ukef>
________________________________
De: Alejandro Fernández Haro ***@***.***>
Enviado: Monday, December 27, 2021 9:44:34 PM
Para: homebridge-xiaomi-roborock-vacuum/homebridge-xiaomi-roborock-vacuum ***@***.***>
Cc: ivofernandespt ***@***.***>; Author ***@***.***>
Assunto: Re: [

[2022-01-03 18:33] bsoener commented on #444
I keep getting this error message:
`[03/01/2022, 19:16:26] [Xiaomi Roborock] ERR connect | miio.device, next try in 2 minutes | Error: Could not connect to device, handshake timeout`

Already tried everything: Roborock reset, wlan...
I think they have no interest to expand the plugin. Will look for another solution. What a pity.

[2022-01-04 12:40] heiko7even commented on #104
Hey there :-) Is there anything new on this?

[2022-01-04 12:47] heiko7even commented on #387
Hey @afharo, how is the implementation going? :-)

[2022-01-05 13:00] jpensar opened #472 "Room naming interferes with Homekit?"
When naming the rooms in the roborock config same as the rooms are named in apple home, and commanding through Siri, Siri is able to pick up the room mentioned, but does not understand the command to vacum (e.g. hey Siri, vacum kitchen). Instead, Siri suggests turning on the lights in the kitchen. Is this something I have missed, or is it a feature of the plugin?

[2022-01-05 21:17] biogerm commented on #466
please let me know if you need anything

[2022-01-10 12:47] uswong commented on #472
Have you given an unique name to your robot vacuum in the kitchen?  If not, give it an unique name (e.g. Kitchen Robot Vacuum) in the config.json, save it, restart Homebridge and try again by asking "hey Siri, please start Kitchen Robot Vacuum".

[2022-01-10 13:06] uswong opened #473 "Suppress the excessive information log"
Hi,

First of all I would like to thank the author and contributors to this amazing plugin.

As it is at the moment ,I am getting a full screen of information log every 30 seconds or so. Is there a way to suppress it?

![image](https://user-images.githubusercontent.com/96530237/148770180-ebfee37a-36fa-4665-aa89-6ba00cc094a9.png)

Regards,
uswong

[2022-01-11 21:01] jpensar commented on #472
I have only one (in bedroom), but commanding it (cleanword=vacum) with room named with same names as in homekit (for lights etc) seems to confuse it? Like "vacum kitchen", causes siri to propose to toggle the lights in the kitchen. If I change the room names in roborock config to something unused by homekit, it works!?

Since I dont know how the brain of Siri works, I was just assuming that the ho

[2022-01-12 02:15] uswong commented on #472
I am glad it works for you now.  I am just a bit curious about the "room names"!?   Is there a way to specify "room names" in the config.json?  See mine below.  I only can change the name, a name I can give it to my roborock vacuum.  I can call it anything I like and I call it "Mi Robot Vacuum"  And that is the name that Siri will understand.

    "accessories": [
        {
            "name": "Mi

[2022-01-12 02:15] uswong commented on #472
I am glad it works for you now.  I am just a bit curious about the "room names"!?   Is there a way to specify "room names" in the config.json?  See mine below.  I only can change the name, a name I can give it to my roborock vacuum.  I can call it anything I like and I call it "Mi Robot Vacuum"  And that is the name that Siri will understand.

    "accessories": [
        {
            "name": "Mi

[2022-01-14 06:24] mitch7391 commented on #473
@uswong I swear I am not stalking you, but pretty sure this is due to one I brought up a long time ago and can be solved by adding the following to you config (can be found on the README):

<img width="635" alt="image" src="https://user-images.githubusercontent.com/40288237/149461102-3c78b47a-e7a1-4942-b600-ceffa01f6e7e.png">

You want to set that to `true`.

[2022-01-14 07:58] uswong commented on #473
Lol.....Mitch, certainly feel like someone is stalking me....

Thanks for that simple solution!  Haha...it is obvious that I did not read the README properly!    Sorted now and finally I have some space on my homebridge screen to look at messages from other plugins!

[2022-01-14 08:05] mitch7391 commented on #473
It drives me nuts when my logs are spammed with information I do not need!

[2022-01-14 09:34] takenek commented on #283
Hello,
Problem still exist? i got same problem i use newlatest version of Homebridge and plugin.

[14.01.2022, 10:32:49] [Mi Robot Vacuum-Mop P] INF getFirmware | viomi.vacuum.v8 | Firmwareversion is 3.5.3_0017
[14.01.2022, 10:33:14] [Mi Robot Vacuum-Mop P] STA getDevice | Connected to: 192.168.1.123
[14.01.2022, 10:33:14] [Mi Robot Vacuum-Mop P] STA getDevice | Model: viomi.vacuum.v8
[14.01.2022,

[2022-01-16 16:22] afharo commented on #444
I would love to extend the plugin. I just have not as much spare time as I'd like to. Contributions are welcomed via Pull Requests :)

[2022-01-16 16:26] afharo commented on #473
Thanks @mitch7391 for answering this question.

@uswong do you think that we can close this issue?

[2022-01-16 17:21] bsoener commented on #444
Thank you for your answer. I think if you could solve this problem here it would be great. Because many here have this problem.

[2022-01-16 21:17] afharo commented on #444
I'd love to solve this issue for you all. It looks to me like resetting the connection would probably solve it.

However, comments like the one below makes me believe that the issue is somewhere else in the router (most of the folks reporting this issue use the Fritzbox router):

If the plugin was not changed in the meanwhile, it shouldn't be the one to blame.

I personally had a similar issue wit

[2022-01-16 21:31] bsoener commented on #444
I bought my own router (7590) I have now tried everything: reset the router and wifi, my robot vacuum completely to factory settings but without success. I would appreciate it if you can take the time to solve this tu. Thank you for the effort and time.

[2022-01-17 00:24] #473 closed

[2022-01-17 00:52] cgmartin commented on #370
I encountered [this issue](https://github.com/rytilahti/python-miio/issues/1272) when trying to use `miiocli vaccum get_room_mapping` method with a `roborock.vacuum.s5`, where it was returning an empty list of segments.

I used [this workaround](https://github.com/rytilahti/python-miio/issues/1272#issuecomment-1013993167)  to get the segment IDs for the room configuration.

ie. my working config:

[2022-01-17 00:54] cgmartin commented on #277
I encountered this issue when trying to use miiocli vaccum get_room_mapping method with a roborock.vacuum.s5, where it was returning an empty list of segments.

I used this workaround to get the segment IDs for the room configuration.

ie. my working config:

"accessories": [
        {
            "name": "Xiaomi Mi Robot Vaccum 1st Generation",
            "ip": "192.168.x.x",
            "token"

[2022-01-20 21:30] takenek commented on #277
Hello Guys,
Anyone know how to find room ID for STYJ02YM with 3.5.3_0017 firmware ?

I try both and not show :(

root@radvd:~# miiocli vacuum --ip XX --token XX get_room_mapping
/usr/local/lib/python3.9/dist-packages/miio/click_common.py:270: DeprecationWarning: Call to deprecated function __init__ (This class will become the base class for all vacuum implementations. Use RoborockVacuum to control

[2022-01-21 08:46] takenek opened #474 "Support for STYJ20YM ?"
Hey,
This support a STYJ20YM - Xiaomi Mi Robot Vacuum Mop Pro
I got exacly this version:
Model: viomi.vacuum.v8
Hardware version: Linux
Firmware version: 3.5.3_0017

And Automatic Room detection not working...
I doing a test and try all ID from 1 to 20 and same effect in logs i got:
[21.01.2022, 09:43:14] [ Xiaomi Mi Robot Vacuum Mop Pro] ACT setCleaningRoom | viomi.vacuum.v8 | Enable cleaning Roo

[2022-01-24 12:13] afharo commented on #474
Hi @takenek Viomi models have some limited support. Refer to #216 to find out more.

[2022-01-24 18:04] petrocino opened #475 "Warning messages from plugin"
Get several warning messages on my Homebridge log:

[1/24/2022, 2:59:54 PM] [homebridge-xiaomi-roborock-vacuum] This plugin generated a warning from the characteristic 'Filter Life Level': characteristic value expected valid finite number and received "NaN" (number). See https://git.io/JtMGR for more info.

[2022-01-28 11:19] adamxfort commented on #283
Hey, you can youse room cleaning, you just have to get the rooms IDs using python-miio
I had issues installing it on windows, but it works through WSL.
In the MiHome app create a new schedule at 00:00 with all but one room and another schedule with only the remaining room.

[2022-01-28 11:31] adamxfort commented on #277
Hey, I got it working like this
In the MiHome app create a new schedule at 00:00 with all but one room and another schedule at 00:00 with only the remaining room. (disable both of them)
Then run this in cmd line `miiocli viomivacuum --ip your_robot_ip --token your_robot_token get_rooms`

[2022-01-30 16:43] fung199609 opened #476 "Mi Robot Vacuum-Mop 2 Pro (Not Support Problem)"
Here's the basic information of my vacuum

NAME:     Mi Robot Vacuum-Mop 2 Pro
   ID:       1025342827
   MAC:      ec:4d:3e:e3:ec:e1
   IP:       xxx.xxx.xx.xx
   TOKEN:    xxxxxxxxxxxxxxxxxxxxxxxxxxxx
   MODEL:    ijai.vacuum.v3

And I'm not able to add this device to homekit.

The error log in homebridge:

[1/31/2022, 3:37:17 AM] [homebridge-xiaomi-roborock-vacuum] This plugin slows down Homebr

[2022-02-01 11:17] andychandowjones commented on #476
Any update?

[2022-02-03 13:03] fung199609 commented on #476
any update?

[2022-02-08 22:19] Kohle81 commented on #415
Hi @afharo,

did you get any further here?  meanwhile even Homekit Secure Video would be possible since the latest homebridge update.  Unfortunately I don't know my way around very well, I'm just a user.  Greetings Manuel

[2022-02-09 12:11] stonemaan commented on #468
I have the same issue with S6 on Valetudo (room names and IDs updated and match between Homebridge and robot) and S5max via Xiaomi Cloud. Robot starts room cleaning and cancels after a few second and moves back to the dock.

[2022-02-12 08:51] yes2310 opened #479 "There's a problem with setting the speed of the pen."
I'm using the s5 max model.

All I seem to function normally speed capability to set the pen isn't seem normal.

I want to use the max mode, but even if I set it to 100%, the max mode does not work.

I have to set it to 67 percent to operate in max mode.

Is there any way to solve this problem or to use the basic output in max mode?

[2022-02-13 13:45] JeromeAstero commented on #104
Good day!

I got localkey and device id using Charles(ios).
Instruction here:
[Easy way to obtain tokens using iOS](https://github.com/Maxmudjon/com.xiaomi-miio/issues/133)

Localkey is not accepted as a token by the plugin.

Does anyone have any idea how to convert localkey to token?

[2022-02-21 21:09] Arijuz commented on #408
Same Error here but both (homebridge and roborock) are in 2,4 GHz wifi.

Mesh-Network > Homebridge via Repeater & Roborock via router.
This has been working for months without any trouble but nowerdays I get about 99% of the time...

`[Roborock] ERR connect | miio.device, next try in 2 minutes | Error: Could not connect to device, handshake timeout`

It'll be more than nice if someone could explai

[2022-02-22 10:05] afharo commented on #408
@Arijuz does it self-recover? Or do you need to restart?

[2022-02-22 18:16] martindinicolino opened #480 "Quit working today for Xaiowa E Series"
Today this plugin unexpectedly quit working for our Xiaowa E Series.
In case this information is of any relevance this plugin runs on it's own child bridge and I have assigned the robot a static IP on my router.

Homebridge throws the following error:
`ERR connect | miio.device, next try in 2 minutes | Error: Could not connect to device, handshake timeout`

I've seen this error before when my IP a

[2022-02-23 02:02] Arijuz commented on #408
@afharo It does self-recover.

[2022-02-23 03:27] Arijuz commented on #408
Hi again,

please notice, I am not a programmer, I am new to homebridge and the plugin and new to github...
...so all I can do is to offer the logs, do some research and try to understand what's going on.

Now just to let you know, the logs from the last 2 days, starting with the events on the evening that made me reply to the issue.
I so far only had the handshake timeout, but it looks like there

[2022-02-23 11:57] afharo commented on #408
@Arijuz, thanks for the details!

Looking at this other plugin's error:

[code]

It looks to me like there are some connectivity issues in the device running homebridge. If it self-recovers when connectivity is reestablished, I don't think I can help much on my end.

Probably the repeater is dropping connection from time to time?

[2022-02-23 12:40] bsoener commented on #408
I also have partly the same error message. Is there something wrong? A call from the developer would help us a lot. In the issue, the messages pile up but no one does anything.

[code]

[2022-02-23 13:17] afharo commented on #408
Some models fail to report the `getState` call. I'm trying to gather all the models with that issue to stop requesting it for them.

[2022-02-25 13:50] sercontri opened #482 "Number of times you clean per day"
Good, I wanted to know if it would be possible to put a cycle counter on it to know if in the course of a day it has already cleaned the house or not. This would be to automate that when the last person leaves the house, they start cleaning unless they have already cleaned that day.

[2022-02-25 18:11] fung199609 opened #483 "Not Support Mi Robot Vacuum-Mop 2 Pro ijai.vacuum.v3"
Here's the basic information of my vacuum

NAME: Mi Robot Vacuum-Mop 2 Pro
ID: 1025342827
MAC: ec:4d:3e:e3:ec:e1
IP: xxx.xxx.xx.xx
TOKEN: xxxxxxxxxxxxxxxxxxxxxxxxxxxx
MODEL: ijai.vacuum.v3

And I'm not able to add this device to homekit.

The error log in homebridge:

[1/31/2022, 3:37:17 AM] [homebridge-xiaomi-roborock-vacuum] This plugin slows down Homebridge. The read handler for the characteris

[2022-02-26 14:21] martindinicolino commented on #482
good idea, whilst your suggestion would be the more elegant solution this is currently possible (for example by using a dummy switch in homebridge and a couple of HomeKit automations)

[2022-03-01 09:32] afharo commented on #482
I agree with @martindinicolino, I currently use `homebridge-automation-switches` for that: I flip a switch (it's actually a `lock`) whenever the cleaner starts.

IMO, having a dummy switch has some benefits:

1. You control when it should kick in (is it a full clean, a room clean, ...).
2. You control when it should be reset: I do it at 7am. I don't want my robot to kick in if I left the house in

[2022-03-01 21:25] martindinicolino commented on #482
Thank you for your insights, that sounds like an interesting expansion on what I've got currently going on, I installed the plugin you mentioned, but I still haven't figured out how to set up config-based homebridge plugins (maybe someday I'll get there, so thank you for the tip @afharo)

I just use `Homebridge Dummy` and the setup couldn't be easier - 10/10, I would totally recommend it to newbie

[2022-03-01 21:33] martindinicolino commented on #480
I tried resetting the robot's wifi settings, or rebooting, as well as tinkering with homebridge, node.js and npm before posting here, turns out this was likely an issue with the robot itself (not sure how it happened in the first place), but **all got fixed after a complete hard reset of the device (keep all three buttons pressed at once, until the robot restarts)** - I did not know this function

[2022-03-01 21:33] #480 closed

[2022-03-01 21:41] #406 closed

[2022-03-02 09:35] afharo commented on #406
I'm glad that it worked for you!

Oh! I notice that model does not support the `getState` request. That's the reason for the `{"code": "timeout"}`. I have a task somewhere to stop requesting that for that model to avoid that annoying noise. Please, let me know if there's anything else in the future.

[2022-03-19 09:20] alxalxnet commented on #370
Thanks for this! It really helped!

FOR THOSE WHO CAN'T GET IT TO WORK: As of March 2022, it looks like you need to change the first part of the command from `miiocli vacuum` to `miiocli roborockvacuum`—at least, that's what did it for me.

[2022-03-21 11:21] TheRealSimonMlr commented on #439
Just an Idea: What might be even easier is when mapping 1% to off [in this file](https://github.com/homebridge-xiaomi-roborock-vacuum/homebridge-xiaomi-roborock-vacuum/blob/master/models/watermodes.js), so you could just create a shortcut or scene which uses 1% watering fan speed, which in fact would turn it off.

[2022-03-21 12:33] TheRealSimonMlr commented on #439
Just to confirm, it is working when editing the [watermode.js like this (Line 8 & 35)](https://gist.github.com/TheRealSimonMlr/5081dd36ec99a6ef16d0be4724beff79) and setting the Fan-Speed to 1% (In my case, via shortcut).
The only downside is that the watering-fan displays in HomeKit as "running", even if it really means there is no watering (At least if set to 1%).

If you like this solution @afha

[2022-03-22 20:03] petrocino commented on #475
Hi there.

There's any updates about it? Still receiving these warnings

`[3/22/2022, 5:00:52 PM] [homebridge-xiaomi-roborock-vacuum] This plugin generated a warning from the characteristic 'Filter Life Level': characteristic value expected valid finite number and received "NaN" (number). See https://git.io/JtMGR for more info.`

[2022-03-26 23:04] gothma commented on #370
Sorry for the long feedback response delay. One idea I got to get the configuration easier:

It seems rooms are always indexed starting with room id 16 and incrementing. I could use set the rooms to id 16 and up in case no suitable timer was found. This way one would at least be able to find out the correct mapping through trial and error.

Also I've tested with adding timers before the 00:00 time

[2022-04-16 23:26] hrhnick commented on #458
I too would find exposing as a switch useful as I have the multiple fan problem. I would not mind a basic approach where only one speed could be configured via the plugin, or multiple switches for each speed.

[2022-05-01 16:31] Taureans opened #493 "Additional icons for hoobs.. currently it shows as a fan, can we add couple of icons.. one for robot vacuum and other for doc?"

[2022-05-02 09:29] afharo commented on #493
Hi @Taureans the icons are provided by Apple's HomeKit. Unfortunately, they don't support vaccums or docks as of now so this plugin hacks around that limitation by exposing the robot as a fan.

Once Apple supports them, I'll make sure to convert the service used.

I'll go ahead an close the issue for now.

[2022-05-02 09:29] #493 closed

[2022-05-02 22:33] MariellevDijk commented on #370
I'm also having this issue with the Roborock S5 Max, the schedule trick doesn't work sadly.

I've been trying to do it manually, with help of the miiocli command.
`miiocli roborockvacuum --ip [ip] --token [token] segment_clean [16]` <- The segments trying from 16 and up, looking on the app which room is highlighted. With the segment id found, you can match the longer id to it.

That longer id is f

[2022-05-16 17:58] nicolasbigot opened #495 "Add support for Roborock S7 maxV"
Just tried installing the plugin with Roborock s7 maxV, but getting this error in the logs :
`[Roborock S7 maxV] WAR changedSpeed | roborock.vacuum.a27 | Speed was changed to 106%, this speed is not supported`

[2022-05-23 15:43] bsoener commented on #444
[23/05/2022, 14:15:42] [Xiaomi Roborock] ERR getState | {"code":"timeout"}
(node:23506) MaxListenersExceededWarning: Possible EventEmitter memory leak detected. 11 disconnect listeners added to [Socket]. Use emitter.setMaxListeners() to increase limit
(Use `node --trace-warnings ...` to show where the warning was created)
(node:23506) MaxListenersExceededWarning: Possible EventEmitter memory leak

[2022-05-30 16:36] vordenken opened #496 "Roborock S7 ERR getState | {"code":"timeout"}"
I've used this plugin for over a year now without any problems but recently my homekit automations stopped working. I can't find the reason for this. One thing that's new is the error: "ERR getState | {"code":"timeout"}" appearing in the homebridge logs.
I can control and use my vacuum in homekit without a problem. Only the automations are broken.

If you need any more information let me know :) T

[2022-05-30 17:12] atol71 opened #497 "Roborock E5 serial"
The serial is undefined:
INF getSerialNumber | roborock.vacuum.a01 | Serial Number is undefined

Therefore:
This plugin slows down Homebridge. The read handler for the characteristic 'Serial Number' was slow to respond! See https://homebridge.io/w/JtMGR for more info.

In the title error of model that is naturally European E5.

[2022-05-31 07:22] TeppoTommi commented on #444
I'm having the same issue ERR connect | miio.device, next try in 2 minutes | Error: Could not connect to device, handshake timeout
It worked fine for a few months after setup, but then just stopped working. I've made no changes in my networks setup. Tried to restart and reset plugin and wifi but no help (I don't have a Fritzbox router). Are there any pointers on what is the reason for connection f

[2022-06-10 18:55] petrocino commented on #475
Hi there.
No one have ever commented it.
Any ideas??

[2022-06-16 12:30] zifou2015 opened #500 "ERR connect miio.device next try 2 minutes Error:Could not connect to device handshake timeout"
I have problem connection since yesterday impossible to reconnect my roborock S6 to my homebridge , i have error message :
ERR connect miio.device next try 2 minutes Error:Could not connect to device handshake timeout

I restarted roborock , wifi, homebridge

[2022-06-18 09:03] joka222 commented on #500
same here

[2022-06-23 11:41] JustAnotherPU commented on #387
Hi guys any news about the implementation?

[2022-06-23 11:43] JustAnotherPU commented on #104
any news about the token and tuya support for the homebridge plugin ?

[2022-06-25 08:45] Daveblanche commented on #500
I have this, too, but only just installed the plugin so will run through docs to make sure I haven’t messed up.

[2022-07-01 08:25] peterneutron opened #502 "[REQUEST] Release separate node package for miio to be used by other projects."
Would it be possible for you to release your refactored version of `miio` as separate node package to be used by other projects?

See: https://github.com/merdok/homebridge-xiaomi-fan/issues/119

[2022-07-16 00:05] dpamping commented on #458
same here, would like switch

[2022-07-20 08:00] protocold commented on #216
sorry I am new to this but have just acquired a viomi.vacuum.v7.

I also tried another plugin called "Homebridge Miot" which can properly identified the serial number of this vaccuum but however none of the control functionality works.

Any other update on this thread as this seems to be 2 years old?!

[2022-07-20 09:06] Bene2103 commented on #216
Hi,

viomi.vacuum.v7 works like a charm.

No updates needed on this topic.

Just set it up like in the readme and it should work.

Sometimes I get a timeout but this doesn't bother me.

[2022-07-20 13:44] protocold commented on #216
what about the water cleaning feature? does it work?

[2022-08-04 13:34] kvllu commented on #500
Did you find a fix for this? Mine started doing this too.

[2022-08-12 09:52] glampr opened #506 "Model mijia.vacuum.v2 fails to getState / send clean command"
[code]

also

[code]

and

[code]

[2022-08-21 15:41] grmelacz commented on #496
I'm getting the same error every couple of hours. The automations mostly work but I need to restart the Homebridge process every like 10-20 days or so once they stop to get them working again.

Probably duplicate of #459, #367, #243.

[2022-08-24 00:33] atol71 opened #509 "Possible memory leak"
I am getting:
(node:10711) MaxListenersExceededWarning: Possible EventEmitter memory leak detected. 11 message listeners added to [Socket]. Use emitter.setMaxListeners() to increase limit
That disappears after restart of plugin bridge. Connected Roborock E5 Roborock S7.

[2022-08-24 09:58] #495 closed

[2022-08-24 10:10] afharo commented on #495
Thanks to @khad, https://github.com/homebridge-xiaomi-roborock-vacuum/homebridge-xiaomi-roborock-vacuum/releases/tag/v0.22.0 will now support this model.

[2022-08-24 10:12] afharo commented on #509
Thanks for reporting! I'll look into the implementation to figure out what listeners are set and how can we control it.

[2022-08-25 16:55] luc-ass commented on #256
I've been thinking about this for quite some time now. My vacuum is parked below a sideboard, thus can't be reached without moving it. I'd love to move it to a specific location once a week when I come home. The automation-part should be quite easy.

Quite a lot has changed in index.js, so I am not sure where to implement this. @afharo if you can perhaps give me a hint, I'll try to implement it an

[2022-08-27 08:01] afharo commented on #479
The reason is that S5 Max model supports the custom speed.

Since we only have a dial, 100% is the custom, the previous step, 67%, is Max power.

Here's the code defining those steps:
https://github.com/homebridge-xiaomi-roborock-vacuum/homebridge-xiaomi-roborock-vacuum/blob/d0ffdd2161cdbe3947e26d01ab75a9700d187e0e/models/speedmodes.js#L182-L219

[2022-08-27 08:02] afharo commented on #306
It should be resolved by @luc-ass in version https://github.com/homebridge-xiaomi-roborock-vacuum/homebridge-xiaomi-roborock-vacuum/releases/tag/v0.23.0

[2022-08-27 08:02] #306 closed

[2022-08-27 08:02] afharo commented on #256
It should be resolved by @luc-ass in version https://github.com/homebridge-xiaomi-roborock-vacuum/homebridge-xiaomi-roborock-vacuum/releases/tag/v0.23.0

[2022-08-27 08:02] #256 closed

[2022-08-27 08:03] afharo commented on #130
It should be resolved by @luc-ass in version https://github.com/homebridge-xiaomi-roborock-vacuum/homebridge-xiaomi-roborock-vacuum/releases/tag/v0.23.0

[2022-08-27 08:03] #130 closed

[2022-08-27 08:24] afharo commented on #475
Hi @petrocino. Apologies for the late reply. Can you share what information is shown in the preceding logs that look like:
[code]

I wonder what it looks like for the values that you get, so we end up with a `NaN` number 🤔

[2022-08-27 08:33] afharo commented on #496
There is a really hard-to-replicate bug in the underlying connection logic that is unable to recover the connection in some specific models of routers.

I've been tweaking the `miio` library here and there a few times, and sometimes I improve it for some but not totally solve it for others. I'm planning to re-write the `miio` connectivity module entirely (I inherited a long time ago and I think it

[2022-08-27 10:12] kornflex commented on #444
Same problem with a xiaomi R3p convert to openwrt and wifi mesh :/

[2022-08-29 12:16] nicolasbigot opened #518 "Plugin breaks with 0.24.0"
Plugin seems to break since latest release with following error in logs:
`[homebridge-xiaomi-roborock-vacuum] This plugin threw an error from the characteristic 'Model': Unhandled error thrown inside read handler for characteristic: callbackifyLib is not a function. See https://homebridge.io/w/JtMGR for more info.`

[2022-08-29 12:22] afharo commented on #518
Oops! Thanks for the heads up! Looking at it right now! I'll unpublish the version to avoid other folks from upgrading

[2022-08-29 13:05] #518 closed

[2022-08-29 13:08] afharo commented on #518
Fixed in version https://github.com/homebridge-xiaomi-roborock-vacuum/homebridge-xiaomi-roborock-vacuum/releases/tag/v0.24.1

[2022-08-30 09:07] afharo commented on #444
@kornflex, if it doesn't connect from the beginning, IMO, this is a different issue from what I've seen in the past.

Are you positive that the token is correct? You can validate it by running the following command:

[code]

To fetch the token, I found the easiest and most reliable tool is https://github.com/PiotrMachowski/Xiaomi-cloud-tokens-extractor

[2022-08-30 09:12] kornflex commented on #444
Yes I'm sure. I use this token in jeedom and the vacuum works.
It works before I switch to wifi mesh with openwrt.
Before, with the xiaomi r3p router and his stock firmware, all was OK.

[2022-08-30 13:38] afharo commented on #444
@kornflex, it sounds like a specific configuration of OpenWRT is blocking the connections, doesn't it?

Is there any specific request the plugin needs to do to OpenWRT to allow it? At the moment, it is connecting to the robot via UDP/datagram sockets: https://github.com/homebridge-xiaomi-roborock-vacuum/homebridge-xiaomi-roborock-vacuum/blob/757cef36262199676834126ccf29a4e9cb81bdab/src/miio/lib/ne

[2022-08-31 07:34] luc-ass commented on #201
Anyone still working on this? Now that the go-to-button works, I desperately want to know wether the dust bin is actually full... Right now I am sending my vacuum to the kitchen when I come home on Wednesdays 😜

@afharo I'd like to contribute, but my knowledge around TS is practically zero...

[2022-08-31 07:47] bsoener commented on #444
[31/08/2022, 03:07:44] [Xiaomi Roborock] ERR getState | {"code":"timeout"}

this error message always appears.

[2022-08-31 08:01] afharo commented on #444
@bsoener, thanks for confirming 🧡. Then similar questions apply. If it never connects and always shows timeout from the beginning, my gut feeling is not that the plugin has a bug in the connection logic, but something else. IMO, it could be either:

* **Misconfiguration:** Either the IP or the token are wrong. You can validate that they are correct with the command `miio-vacuum inspect YOUR_IP --t

[2022-08-31 08:54] afharo commented on #201
@luc-ass FWIW, all the maintenance indicators are reported to Homekit. And they show up in applications that are more _pro_ than Apple's Home app. The reason is that Homekit doesn't consider a **Fan** should have any of those Filter indicators (which sort of makes sense), so the Home app simply ignores them.

My app of choice for low-level automations is [Controller for Homekit](https://apps.apple

[2022-08-31 10:11] bsoener commented on #444
So the ip and token are correct. Must be something else... It may be that it really is the Fritzbox!?

[2022-08-31 17:09] luc-ass commented on #201
You are right about the problem of canceling the cleaning process. My automation would be along the lines of:
[code]
An occupancy sensor would need to be reset somehow, no idea on how to implement that. A simple switch could be turned off by hand or some automation. It wouldn't interfere with anything else.
Man, it's really time Apple/Matter implement a Vacuum type 😆

[2022-08-31 17:18] luc-ass commented on #201
BTW: For now I made an "Apple Shortcut" that executes when I come home and sends the vacuum to the kitchen when I arrive at home on Wednesdays. Not pretty but works:

![IMG_6E8D8A89E58D-1](https://user-images.githubusercontent.com/3263257/187739928-b282f981-cc71-4747-bb28-97429289ca64.jpeg)

By choosing a custom Date format as `EEEE` you can compare it to the full day name.

[2022-08-31 21:49] afharo commented on #458
With the latest refactor I just went through, I think this request would be fairly easy to apply.

[2022-08-31 22:53] afharo commented on #458
Published as https://github.com/homebridge-xiaomi-roborock-vacuum/homebridge-xiaomi-roborock-vacuum/releases/tag/v0.25.0

Set `"serviceType": "switch"` in your config and let me know if that works as you expect 😇

[2022-08-31 23:01] afharo commented on #496
@vordenken, can you join the discussion at #444? I'm trying to get to the bottom of this.

[2022-08-31 23:03] afharo commented on #243
@gjanos89 can you join the discussion on #444. I want to get to the bottom of this :)

[2022-08-31 23:06] afharo commented on #445
Wow @migudev96! That is an interesting issue! I can tell you for certain that the plugin does not intentionally emit/enable any "ding" sounds.

Is it still occurring? Any logs you can share from HOOBS?

[2022-08-31 23:40] #366 closed

[2022-08-31 23:43] afharo commented on #366
Hopefully https://github.com/homebridge-xiaomi-roborock-vacuum/homebridge-xiaomi-roborock-vacuum/releases/tag/v0.25.1 should fix this.

[2022-08-31 23:47] afharo commented on #320
It should be fixed in the latest versions of the plugin. I'll go ahead and close this issue. Please, feel free to reopen.

[2022-08-31 23:47] #320 closed

[2022-08-31 23:48] afharo commented on #360
This should be fixed in the last version. I'll go ahead and close it. Feel free to reopen if this is not the case.

[2022-08-31 23:48] #360 closed

[2022-08-31 23:52] afharo commented on #211
Closing because the latest version already tracks this.

[2022-08-31 23:52] #211 closed

[2022-08-31 23:54] afharo commented on #111
Bumping this issue. I think that, after the latest refactor, it may be pretty easy to implement.

cc @luc-ass as he recently requested something like that

[2022-09-01 00:30] #111 closed

[2022-09-01 00:30] #201 closed

[2022-09-01 00:32] afharo commented on #111
It should be solved in https://github.com/homebridge-xiaomi-roborock-vacuum/homebridge-xiaomi-roborock-vacuum/releases/tag/v0.26.0

[2022-09-01 00:32] afharo commented on #201
It should be solved in https://github.com/homebridge-xiaomi-roborock-vacuum/homebridge-xiaomi-roborock-vacuum/releases/tag/v0.26.0

[2022-09-01 05:05] luc-ass opened #528 "Error loading the plugin after updating to v0.26.0"
@afharo thank you for implementing the dust bin that fast! You're on fire!
Sadly it now throws an error at me:

[code]

[2022-09-01 05:33] c-o-m-m-a-n-d-e-r commented on #528
+1

[2022-09-01 05:36] Phoenix-DH commented on #528
I have something similar:
![Uploading ADB49815-9460-4085-B4F4-FA435A0DEB72.jpeg…]()

[2022-09-01 05:38] Phoenix-DH commented on #528
![62BF5AA6-45BF-4C20-BD1B-014B45C1EF87](https://user-images.githubusercontent.com/44058592/187839586-48e7ff23-6ec6-410c-8afb-afab7915620c.jpeg)

[2022-09-01 05:45] Luk141888 commented on #528
same here... :-(

[2022-09-01 05:47] Christian-CFP opened #529 "v0.26.0 SET handler returned write response value error"
Hey, got a similar plugin fail message after updating to 0.26.0. But after restarting the plug-in it was fine.

But if I start something via HK a write error occurres.

[HOME Bridge Pause@On] SET handler returned write response value, though the characteristic doesn't support write response

It will start but I get this error message everytime I start cleaning, Pause etc.

[2022-09-01 05:54] weissshay commented on #528
Same here...:(
Tried downgrading to earlier versions (tried each of 3 previous versions separately) without success...

[2022-09-01 05:59] Phoenix-DH commented on #528
0.24.1 is back working for me.

[2022-09-01 05:59] bsoener commented on #444
Good morning Unfortunately, I am out of my depth on this question. This would have to do someone who has more knowledge of it.

[2022-09-01 07:53] klingbing commented on #528
same error here.
going back to 0.24.1 resolves.

[2022-09-01 08:06] HuettmannH opened #530 "Error: Cannot find module 'hap-nodejs'"
my Homebridge run as a docker.
After I update to version 0.26.0 I read this error. When I store version 0.23.0 no error
I have model Roborock S7 pro

[2022-09-01 08:12] c-o-m-m-a-n-d-e-r commented on #528
downgrade did the trick ... also 0.24.1 ... thanks

[2022-09-01 08:30] HuettmannH commented on #528
+1 downgrade to 0.24.1 works for me also

[2022-09-01 08:37] luc-ass commented on #530
This is a duplicate to #528

[2022-09-01 12:12] kornflex commented on #444
Hello,
I have updated my openwrt & librairies.
My vaccum always switches between mesh access point, so I have added a mac address blacklist on one of mesh AP.

He always tries to connect but he is quickly rejected. So I don't loose the connection too long.

Homebridge works a little better.

[2022-09-01 12:44] afharo commented on #444
@kornflex FWIW, I have a mesh connection at home as well and it just works. I'm using the Google WiFi routers though.

[2022-09-01 12:45] afharo commented on #530
Thank you for the head up! I'll submit a fix in a bit. I'll update here.

[2022-09-01 12:47] afharo commented on #528
Thank you for the heads up! I'll submit a fix in a bit. I'll update when the fix is published.

[2022-09-01 13:03] #528 closed

[2022-09-01 13:03] #530 closed

[2022-09-01 13:04] luc-ass commented on #528
You truly are on fire! 🔥 😆

[2022-09-01 13:07] afharo commented on #528
https://github.com/homebridge-xiaomi-roborock-vacuum/homebridge-xiaomi-roborock-vacuum/releases/tag/v0.26.1 should have fixed it :)

[2022-09-01 13:07] afharo commented on #530
https://github.com/homebridge-xiaomi-roborock-vacuum/homebridge-xiaomi-roborock-vacuum/releases/tag/v0.26.1 should have fixed it :)

[2022-09-01 13:11] afharo commented on #529
I think I know why... thank you for letting me know... May I ask: is it an error or a warning?

[2022-09-01 13:12] weissshay commented on #528
I've upgraded to 0.26.1 and I'm seeing the following:
![image](https://user-images.githubusercontent.com/108873437/187922095-acf2e1d9-372c-4ed9-b9c8-3ee96223732f.png)

(still the plugin seems to be loading OK)

[2022-09-01 13:27] afharo commented on #528
@weissshay, glad to know that the fix worked!

Thank you for the heads up on the new warning! I'll reach out to the `homebridge` folks to figure out how to solve it. FWIW, the need for the `hap-nodejs` dependency is for the _legacy_ care indicators. I may remove them in future versions :)

[2022-09-01 13:28] Christian-CFP commented on #529
Ok tried 0.26.1

This error appears:

[31mThe plugin "homebridge-xiaomi-roborock-vacuum" defines 'homebridge' and/or 'hap-nodejs' in their 'dependencies' section, meaning they carry an additional copy of homebridge and hap-nodejs. This not only wastes disk space, but also can cause major incompatibility issues and thus is considered bad practice. Please inform the developer to update their plugin

[2022-09-01 13:50] afharo opened #533 "Remove own dependency on `hap-nodejs`"
Right now, the plugin shows this warning on startup:

It still loads fine but I agree that we shouldn't ship our own version of `hap-nodejs`. I hope `peerDependencies` is fine. I'll double-check with the `homebridge` owners to find out the best path forward.

Worst case scenario, I can remove the Legacy care indicators that depend on this import.

[2022-09-01 14:58] afharo commented on #529
Gotcha! Re the `'hap-nodejs'` warning, I created #533 to track that.

Let's keep this issue for the SET handler one.

[2022-09-01 15:50] #529 closed

[2022-09-01 15:56] afharo commented on #529
The SET handler warning should be resolved in https://github.com/homebridge-xiaomi-roborock-vacuum/homebridge-xiaomi-roborock-vacuum/releases/tag/v0.26.2

[2022-09-01 16:11] #533 closed

[2022-09-01 16:12] afharo commented on #533
Should be fixed by https://github.com/homebridge-xiaomi-roborock-vacuum/homebridge-xiaomi-roborock-vacuum/releases/tag/v0.26.3

[2022-09-01 16:24] Christian-CFP commented on #529
Both fixed in 0.26.3 ! THX!

[2022-09-01 16:41] afharo commented on #529
@Christian-CFP Thank you for confiming! 🧡

[2022-09-01 17:36] luc-ass commented on #528
v26.3 is working fine. Thank you.

[2022-09-01 23:06] #132 closed

[2022-09-01 23:16] afharo commented on #274
I'll go ahead and close this issue for now. Please, feel free to reopen it if you think it's worth investing more time in it (and can provide the requested debug logs)

[2022-09-01 23:16] #274 closed

[2022-09-02 05:27] luc-ass commented on #497
Please follow this: [click](https://github.com/homebridge-xiaomi-roborock-vacuum/homebridge-xiaomi-roborock-vacuum#is-my-model-supported); then report back with your response 😉

[2022-09-02 05:54] bsoener commented on #444
`[02/09/2022, 07:23:09] [homebridge-xiaomi-roborock-vacuum] This plugin slows down Homebridge. The read handler for the characteristic 'Serial Number' didn't respond at all!. Please check that you properly call the callback! See https://homebridge.io/w/JtMGR for more info.
[02/09/2022, 07:23:10] [Xiaomi Roborock] [Model=roborock.vacuum.s6] getSerialNumber | Failed getting the serial number. Error:

[2022-09-02 06:22] afharo commented on #295
I just looked at this and it's a logging issue. There should be a follow up log showing the actual configuration with the updated IDs.

As a temporary fix right now, we can hide the initial log entries showing 0,1,2,... when using the "semiautomatic" room mode

[2022-09-02 07:09] Christian-CFP commented on #418
How about this topic? Hot time for this?

[2022-09-02 11:29] luc-ass commented on #322
Warming this up in the context of the "go to" button. Because the vacuum is never turned on for this function, you are not able to turn it off and thereby sending it back to the dock. This would be useful, if you were just passing your home and the vacuum should return to the dock before the battery goes low.

[2022-09-02 14:39] kornflex commented on #444
Yes. But in my case, an other plugin, for my domotic, works with this vacuum when I can't use it with homebridge.
If my routeur is in cause, I should be the same problem everywhere...

it's "xiaomi home" plugin for "jeedom"
I don't know how it work. It's python request, but I don't see if it's TCP or UDP.

It's using a xiaomipacket class like this :
[code]

[2022-09-02 18:48] afharo commented on #418
I'd need to figure out whether the robot knows the room it's in. The documentation on the Xiaomi APIs is scarce...

To be clear about my current priorities on this project: Currently, I'm taking baby steps to get to a place where I can register the plugin as a platform in Homebridge (refactoring, extracting services on their own, using Typescript and creating tests to deliver features with more co

[2022-09-02 18:54] Christian-CFP commented on #418
Hey so I will be available for testing. If the robo Knutsch  knows in which room he is (app) maybe it is somehow leaked in the APIs. Tell me what to do and I am willing to. THX. And by the way, hope you, your wife and son doing all fine!

[2022-09-02 19:01] afharo commented on #418
Thank you for your availability for testing. And for thinking about my family 🧡.

Does the app know the room it's in or the coordinates?

I need to play with the APIs to figure out what is reported. And also, how a Room is returned.

Probably, the way to go is to get the robot's coordinates and check which Room those belong to.

[2022-09-02 19:17] Christian-CFP commented on #418
So I think so but I .... In the app, roborock shows the rooms that he is in.
So I guess so. But I am not sure. But I'm pretty sure about that.

[2022-09-04 07:18] #502 closed

[2022-09-04 15:38] luc-ass opened #538 "Discussion on "bin full" status as a Lock"
Hey there, I've tested the "bin full - beta" as a Lock for a few days now. Here are my first thoughts:
* Xiaomi notes on their [FAQ-Page](https://support.roborock.com/hc/en-us/articles/360030816991-Will-I-receive-an-alert-when-the-dustbin-is-full-), that their products are not capable of a real "bin full status". 😞 Instead they only notify you, if you haven't emptied your vacuum in quite some time

[2022-09-04 18:39] maisun commented on #538
I'm actually not follow the logic why the bin full is a lock instead of sensor?

[2022-09-04 18:40] luc-ass commented on #538
Because you can't reset a sensor - and the API doesn't "revert" an error message after it has been cleared... Ideas are very welcome though!

[2022-09-04 18:43] maisun opened #539 "Goto target problem"
Hi,
Noticed a problem with Goto target function: when I turn off the switch it triggers another goto command, instead of going back to dock. Is it supposed to be like that? I have tried a few times the device goto target with an error (due to obstacles) but there is no way that I can ask it to go back to dock station. In my opinion the logic should be when switching off goto, it should send dockin

[2022-09-04 18:49] maisun commented on #538
Hi, thanks for the quick reply, so are you saying after empty the dust bin, Xiaomi will still consider the bin is "full" so we need to manually reset? I can't recall I have to do this but you're probably right. I tried to "lock" the lock, but it just says "locking...." and I thought it wasn't working. So now I get it, basically when it's locked, I empty the bin and unlock it, right? Anyways anothe

[2022-09-04 18:52] luc-ass commented on #538
Xiaomi actually doesn't care. They have a timer, that alerts you to empty the bin when you haven't done it in quite some time. This timer is (on your vacuum) reset when you remove the bin.

The problem is translating the emptying to HomeKit. A full bin would be indicated by an error message from the API, but an emptied bin isn't indicated by some "reverse" warning.

[2022-09-04 18:55] maisun commented on #538
I see, thank you! Does the API tell when the bin was last emptied? I think there is a sensor when you take the bin out.
Another better (and much more complex) solution is to record locally when the bin was emptied, and calculate how many square meters after that, and send alert when for example it cleans more than 100m2 after previous empty event. But this requires local storage, on the good side

[2022-09-04 18:58] luc-ass commented on #538
👍 at that point this would become more than a translation layer. But you are right in deed. We should dive into the capabilities of the API. Perhaps @afharo has some deeper insight into that.

[2022-09-04 19:20] maisun commented on #538
BTW just reported the issue with go to function, indeed it doesn't allow me to return to dock when switching off. There are a few more states that can be useful, I created a PR long time ago which has the proper implementation of goto function (among which also the impl of room support):
https://github.com/homebridge-xiaomi-roborock-vacuum/homebridge-xiaomi-roborock-vacuum/pull/200

[2022-09-04 19:34] Dimitris947 commented on #468
Any solutions? I have the same problem

[2022-09-04 21:11] afharo commented on #539
cc'ing @luc-ass for awareness as he introduced the feature.

[2022-09-04 21:17] afharo commented on #468
How does your config look like. I believe that behavior is caused by wrong IDs: the robot tries to trace a route to the room to clean, but it finds out it cannot successfully identify the room. Hence, it cancels and goes back to the dock.

[2022-09-05 05:16] luc-ass commented on #539
You are right. I'll try to find a solution.

[2022-09-05 05:59] luc-ass commented on #539
Well, I found a fairly well written doc of the API [here](). From my understanding, the button should act like this:
* Turn goToButton on → go to specified location (essentially the way it works right now)
* Turn goToButton off → go back to dock ([reference](https://github.com/marcelrv/XiaomiRobotVacuumProtocol/blob/master/basic.md#command-4))
* Button automatically turns off as soon as status is

[2022-09-05 07:00] luc-ass commented on #539
@afharo Still wrapping my head around TS. Can you point me to the correct file, where for example `goToLocation(){}` is defined? It used to be in [/src/miio/lib/devices/vacuum.js](https://github.com/homebridge-xiaomi-roborock-vacuum/homebridge-xiaomi-roborock-vacuum/blob/c75212968507d385215deb0590eed39124095c89/src/miio/lib/devices/vacuum.js). Is that still true?

[2022-09-05 08:42] luc-ass commented on #539
[This](https://github.com/homebridge-xiaomi-roborock-vacuum/homebridge-xiaomi-roborock-vacuum/compare/master...luc-ass:homebridge-xiaomi-roborock-vacuum:master) would be my suggestion for now...

[2022-09-05 18:22] luc-ass commented on #539
@afharo can you tell me how to test TS locally? I was able to clone the repo into a folder, as I do normally, but `npm install` or `npm install typescript` doesn't result in a working plugin.

[2022-09-05 19:07] vskal opened #542 "Device Tile presented as Switch Instead of Fan"
Thx for the great plugin !

Since the recent Go To functionality update, the Roborock grouped tile is presented as a switch instead of a fan (which greatly helps to visualy differentiate it).

Is there a way to have them presented as a fan ?

[2022-09-05 23:32] Lammiwinks commented on #542
Im experiencing the same issue!

[2022-09-06 06:31] Lammiwinks commented on #542
Can confirm - service type is set to Fan. But it appears the tile is showing the status of presence on the dock rather than the fan.

i.e. the accessories are grouped with the presence set as the main item.
![IMG_6576](https://user-images.githubusercontent.com/101758754/188562798-1ce805ba-7da3-4aa6-83ec-053d609b892f.jpeg)
![IMG_6577](https://user-images.githubusercontent.com/101758754/188562815-10

[2022-09-06 06:33] luc-ass commented on #539
Well, I think I nailed it. 🎉
Most parts, such as `activateCharging()` already existed and just needed to be pieced together.

#### Initial Test Results:

- `go to` button __ON__ → vacuum going to location ✅
- vacuum driving to location → `go to` button stays __ON__ ✅
- vacuum is at location → `go to` button stays __ON__ ✅
- `go to` button __OFF__ while still moving → movement canceled, return to d

[2022-09-06 07:13] luc-ass commented on #322
From my point of view this is solved by #544.

[2022-09-06 07:33] luc-ass commented on #542
Really strange behaviour. Mine displays as as switch as well. For now the only fix I found was to show it as separate accessories -- though that might not be wat you want...

[2022-09-06 08:52] maisun commented on #539
Hi @luc-ass , thank you for looking into it. Yeah that sounds perfect!

[2022-09-07 12:07] luc-ass commented on #539
this has been resolved by #544

[2022-09-07 21:52] afharo commented on #539
Thank you @luc-ass and @maisun for working this out! You rock!!!

I'll go ahead and close this issue then. Feel free to reopen if anything else is missing.

[2022-09-07 21:52] #539 closed

[2022-09-10 10:54] Christian-CFP opened #546 "Room and/or Zone switches"
Hey, room and zone switches do not reset (shut off) after ending cleaning. They stay switched on.

[2022-09-10 13:07] DanielRechberg opened #547 "Installed latest Update (v0.26.4 -> v0.26.5)/ No plugin was found for the accessory"
After installing v0.26.5 today and restarting the home bridge service, I get the following error now:

[9/10/2022, 3:02:55 PM] No plugin was found for the accessory "XiaomiRoborockVacuum" in your config.json. Please make sure the corresponding plugin is installed correctly.

Nothing else was changed and it worked for years now. Rolling back to prev version, doesn't resolve the issue.

BR Daniel

[2022-09-10 14:05] DanielRechberg commented on #547
sorry I saw that the plugin could not get loaded because of some problems with "hap-nodes".... no clue why this happened because I didn't even do a home bridge upgrade. Anyway, manually installing/reinstalling with sudo npm install -g --unsafe-perm hap-nodejs@latest helped.

working again!

[2022-09-10 14:05] #547 closed

[2022-09-11 08:29] afharo commented on #546
That is true! After the _recent_ improvements that would allow us to select multiple rooms, it keeps them on for the next cleaning to clean those again.

Thank you reporting it!

[2022-09-12 18:29] mpuff opened #551 "[HB Supervisor] Homebridge Process Ended. Code: 143, Signal: null"
when I activate this plugin in the latest version, I get an error [HB Supervisor] Homebridge Process Ended. Code: 143, Signal: null and the container is restarting all the time.

[2022-09-12 18:46] afharo commented on #551
would you mind providing more logs, please?

Can you try if applying the same fix as in https://github.com/homebridge-xiaomi-roborock-vacuum/homebridge-xiaomi-roborock-vacuum/issues/547 fixes your issue?

[2022-09-13 07:10] mpuff commented on #551
I found this in the logs:

[9/13/2022, 9:07:55 AM] [Mi Robot Vacuum] Initializing XiaomiRoborockVacuum accessory...
[9/13/2022, 9:07:55 AM] [Mi Robot Vacuum] [Model=unknown] DEB getDevice | Discovering vacuum cleaner
[9/13/2022, 9:07:55 AM] [Mi Robot Vacuum] [Model=unknown] getRoomMap | No vacuum cleaner is discovered yet.
[9/13/2022, 9:07:55 AM] [Mi Robot Vacuum] [Model=unknown] INF ensureDevice

[2022-09-13 19:03] maisun opened #552 "Potential issue with iOS 16"
Hi, after upgrading to iOS 16 in the device group looks like all switches now inherit the name of the main accessory. Is it an issue with iOS or homebridge? Anybody else experience the same issue?

[2022-09-13 21:05] afharo commented on #552
It looks like a common issue. I have other plugins showing the same issue: all related accessories share the same name.

Although I'm not sure if it's iOS16 or homebridge. I'd say it's iOS16 changing the way it behaves... but since I doubt Apple will fix it, it will likely be homebridge the one to fix it...

Nothing we can do from the plugin POV, AFAIK.

[2022-09-13 21:12] afharo commented on #552
It looks like this is the issue tracking that bug in the `homebridge` repository: https://github.com/homebridge/homebridge/issues/3210

They mention it's an iOS16 bug and looks like they are not planning to fix it.

However, there is a workaround: clearing the name in the Home App shows the placeholder of the original name

[2022-09-13 21:13] #552 closed

[2022-09-14 19:09] Christian-CFP commented on #546
So it is a bug right? Because why should they stay on after the cleaning is done.

[2022-09-14 19:14] afharo commented on #546
I agree. They should be reset after the cleaning ends.

[2022-09-14 20:02] afharo commented on #551
AFAIK, HB shouldn't crash from the errors in that log. But I'll take a look. Thanks for raising the issue.

[2022-09-14 21:02] xkyle22x commented on #551
I also have the same issue.
Here is my logs ![image](https://user-images.githubusercontent.com/66627364/190261853-1e1fab44-7ec5-4bf7-8380-39966c2366ab.png)

[2022-09-14 22:12] afharo commented on #551
@xkyle22x does the server crash for you as well?

[2022-09-15 01:04] xkyle22x commented on #551
No it just keeps trying every 2 mins to find connection

[2022-09-15 04:54] mpuff commented on #551
The docker container is in a bootloop

[2022-09-15 05:33] xkyle22x commented on #551
![image](https://user-images.githubusercontent.com/66627364/190322386-7aa10dad-ebbb-46fa-87fd-310be7d642ba.png)

[2022-09-15 05:34] xkyle22x commented on #551
![image](https://user-images.githubusercontent.com/66627364/190322440-1dcb70a3-b46a-4f4c-9370-bce6738571d0.png)![image](https://user-images.githubusercontent.com/66627364/190322469-8588335a-95c6-4a5c-91eb-6c284c0e75b2.png)![image](https://user-images.githubusercontent.com/66627364/190322512-f8d9f3d5-d0b2-479d-b213-9b6703285345.png)

[2022-09-15 08:06] afharo commented on #551
I see... FWIW, the errors shown in the logs are expected: the plugin didn't manage to connect, and homebridge is requesting values from the accessories, which cannot be fetched because it's not connected.

@xkyle22x from the logs, I don't think HB is crashing in your case... so, IMO, it's a different issue to @mpuff's

-----

Now... to fix the _Could not connect to device_ issue, I'd like to valid

[2022-09-15 09:21] xkyle22x commented on #551
I know that the ip is correct 100% because I can see it in my router and it has a static ip.

Also I don't know if the token can change or not but this has worked perfectly for 2 years now with that token.

Is it possible for the token to change?

[2022-09-15 17:20] mpuff commented on #551
All the other items are unavailable when I have activated this plugin, even I deactivate it, all others are online

[2022-09-15 20:09] luc-ass commented on #546
Wouldn't this be a typical application for HomeKit scenes?
Like:
[code]
That would turn off all the previously enabled switches? From my point of view the permanently enabled switches could be useful if you wanted to clean the same rooms every das - though that could be solved with the above solution as well, now I think about it.

[2022-09-16 08:48] HuettmannH opened #556 "IOS 16 Error"
after installing the update to IOS 16 on my phone and update all my HomePods, I can no longer control the Roborock S7 Max via the app Eve. The room names are no longer displayed. However, they are displayed in Homebridge. Does anyone else have this problem? Has anyone already solved the problem?

[2022-09-16 13:12] latrine666 commented on #556
I have the same problem. Also the same with Xiamo fans. I think it’s a conversion thing to the new home app from Apple.

[2022-09-17 00:18] afharo commented on #556
It's a bug on iOS16 and it affects most homebridge plugins.

For more references, look at this other issue: https://github.com/homebridge-xiaomi-roborock-vacuum/homebridge-xiaomi-roborock-vacuum/issues/552

I'll go ahead and close this issue since there's nothing we can do from the plugin end.

[2022-09-17 00:19] #556 closed

[2022-09-17 07:42] xkyle22x commented on #551
Any ideas?

[2022-09-19 10:41] pawelaugustyn opened #557 "Room names not populated in the Home app on iOS 16"
When I set up the room cleaning with Roborock S5, I get the following stack trace during my raspberry init. This happens **intermittently**, and sometimes these errors are not present during start up.

[code]

I followed instructions from the [README section](https://github.com/homebridge-xiaomi-roborock-vacuum/homebridge-xiaomi-roborock-vacuum#semi-automatic), including setting a timer in the Mi

[2022-09-19 11:38] okonet commented on #557
I'm experiencing the same issue on iOS 16 Home.app. Just installed latest update and it's still the case.

[2022-09-19 12:26] pawelaugustyn commented on #557
O_o that's interesting. I checked the Home app on my iPad Air 2 (which won't get iPadOS 16) and the rooms are named properly. So I can confirm the issue is related to the Home app in iOS 16.
I'll update the issue name accordingly.

[2022-09-19 12:34] #557 closed

[2022-09-19 13:52] okonet commented on #557
Thanks for the quick reply. Really appreciate it. And thanks for the link to the original issue. I was looking for it but could not found yet.

[2022-09-20 01:45] Lammiwinks commented on #542
How did you show as seperate accessories?

[2022-09-21 15:41] sorriso93 opened #558 "Error on finding hap-nodejs"
Hello starting from yesterday I get this error only on this plugin (I have 9 total plugin on my homebridge)

====================
[9/21/2022, 5:37:14 PM] ERROR LOADING PLUGIN homebridge-xiaomi-roborock-vacuum:
[9/21/2022, 5:37:14 PM] Error: Cannot find module 'hap-nodejs'
Require stack:
- /usr/local/lib/node_modules/homebridge-xiaomi-roborock-vacuum/dist/services/custom_care_service/care_service.j

[2022-09-21 19:08] sorriso93 commented on #547
Lucky you, I tried the same with no success

[2022-09-22 00:39] afharo commented on #558
Hi @sorriso93,

what is the version of `homebridge` and `hap-nodejs` that you've got installed? I'm trying to figure out what might be wrong here

[2022-09-22 23:06] sorriso93 commented on #558
Hello, homebridge v1.5.0 , node.js v 15.3. I don't know how to see hap-node.js version, googled it with no success...

[2022-09-23 06:51] nicolasbigot commented on #546
Same issue here. They used to reset automatically after cleaning. I also find that dock sensor does not report correct charging state for very long period of time.

[2022-09-23 06:53] nicolasbigot commented on #546
Is that a new behavior or a bug? Because that makes day to day cleaning harder that is used to be. Can you please make this optional or configurable?
Many thanks!

[2022-09-23 18:19] sorriso93 commented on #558
Also in addition with iOS6 the room names don't appear anymore... I don't know if it is correlated...

my json, was good till iOS16

   {
            "name": "Aspirapolvere",
            "ip": "192.168.0.17",
            "token": "xxxxx",
            "waterBox": true,
            "silent": false,
            "pause": false,
            "pauseWord": "pausa",
            "findMe": false,

[2022-09-23 21:07] afharo commented on #558
@sorriso93 From your last comment, I assume the error is not present anymore and the plugin is working?

Regarding the names, it's a bug in iOS16. More info (and the workaround) in this issue: https://github.com/homebridge-xiaomi-roborock-vacuum/homebridge-xiaomi-roborock-vacuum/issues/552

[2022-09-23 21:12] afharo commented on #546
I would consider it a bug.

I'm away from my keyboard for a couple of days, so I can't fix it. I'll try to get it fixed when I get back at it.

Thank you for raising the awareness of this bugs and for your patience.

[2022-09-24 00:12] sorriso93 commented on #558
I still have the problem of error on hap-nodejs

[2022-09-24 06:14] WojtekWro opened #559 "Vacuum's HomeKit service doesn't go off when vacuum finishes work."
After finish work my vacuum returns to the dock, but plugging shows it still working.
Model=viomi.vacuum.v7

extract from log.

[9/24/2022, 8:07:54 AM] [homebridge-xiaomi-roborock-vacuum] This plugin threw an error from the characteristic 'On': Unhandled error thrown inside write handler for characteristic: Call to device timed out. See https://homebridge.io/w/JtMGR for more info.

[2022-09-24 22:20] afharo commented on #558
So the plugin doesn't crash. It only logs the error?

[2022-09-25 23:18] sorriso93 commented on #558
the accessories are not responding on home app, therefore I cannot use it.
The plugin doesn't load from the log below (please note I have it in child-bridge configuration)

[9/26/2022, 1:17:08 AM] ---
[9/26/2022, 1:17:09 AM] ====================
[9/26/2022, 1:17:09 AM] ERROR LOADING PLUGIN homebridge-xiaomi-roborock-vacuum:
[9/26/2022, 1:17:09 AM] Error: Cannot find module 'hap-nodejs'
Require sta

[2022-09-25 23:20] sorriso93 commented on #558
and this is the config part

 "accessories": [
        {
            "name": "Aspirapolvere",
            "ip": "192.168.0.17",
            "token": "7750794d5033354b6b494a34536b4870",
            "waterBox": true,
            "silent": false,
            "pause": false,
            "pauseWord": "pausa",
            "findMe": false,
            "findMeWord": "dove sei",
            "dock": true,

[2022-09-27 10:56] sorriso93 commented on #558
Hello with the symlink no way to have it functional whereas installing locally seems ok, I get in the log the following alert:

[9/27/2022, 12:54:24 PM] The plugin "homebridge-xiaomi-roborock-vacuum" defines 'homebridge' and/or 'hap-nodejs' in their 'dependencies' section, meaning they carry an additional copy of homebridge and hap-nodejs. This not only wastes disk space, but also can cause major

[2022-09-27 17:05] mpuff commented on #551
i have the vacuum cleaner also in openhab, and I can control it with the ip and token I use also in this plugin

[2022-09-28 14:08] Reddyzinho opened #563 "Room names are all the same"
I have been using this plugin , but now after some updates from HomeKit / Homebridge, all the room names are ….equal.

My vacuum cleaner calls “ASPIRADOR” (Portuguese), and all the six accessories (room names), have the same name as well. When I change this name in the HomeKit, it goes ok, but when restarting the Homebridge, bye bye names ;)
Anyhting I’m doing wrong? It’s a bug?

HEre is my CONFIG

[2022-09-28 23:44] afharo commented on #563
Unfortunately, the issues with showing wrong names in iOS16 is a bug on iOS16 itself. A related issue in this repo is https://github.com/homebridge-xiaomi-roborock-vacuum/homebridge-xiaomi-roborock-vacuum/issues/552. It has a link to another issue in `homebridge` where folks are complaining about the same issue in other plugins.

The workaround is to manually rename them. Follow the links for more

[2022-09-28 23:44] #563 closed

[2022-09-29 20:12] arek190491 commented on #559
I have the same problem. After finish my rooms the buttons are always on.

[2022-09-30 22:20] afharo commented on #558
Thanks! FWIW, I moved the dependency to the peerDependency to avoid that same warning and it seemed to work for most folks.

Apparently it's not working for some others...

I'll see how I can remove that dependency once and for all.

[2022-10-01 13:53] Guitou031 opened #567 ""Hey Siri, clean room x" not working on Homepod but working from my Iphone"
Hello

I have a regression form since last update of the plugin : I have set-up the plugin in Hombridge everything is fine. I have the rooms set-up and it works with the swithces buttons from Homekit on my Iphone and Ipad.
When I say "hey Siri clean Room A" : the switch "Clean Room A" is turned on and it works fine.

I was able to do that also from my Homepod also with the same voice command, but

[2022-10-02 15:43] Guitou031 commented on #567
I add that My model is Roborock S7. Not new modeil

[2022-10-02 15:45] phi-lip commented on #567
I have the same problem with my Roborock S6.

[2022-10-03 21:04] papapoipoi opened #568 "Unable to connect with Xiaomi Robot Vacuum Mop 2S"
It seems that the plugin is not able to communicate with my new Vacuum. token_extractor.exe indicates jai.vacuum.v19 as  a model.

I thought it should be supported as it seems to be the first one in the pictures of the supported devices.

The first error I get is :
[Model=ijai.vacuum.v19] INF ensureDevice | ijai.vacuum.v19 | The socket was destroyed or not initialised, initialising the device

Is

[2022-10-06 18:35] #558 closed

[2022-10-06 19:50] #542 closed

[2022-10-06 19:59] #546 closed

[2022-10-06 19:59] #559 closed

[2022-10-06 20:02] afharo commented on #558
Can you confirm https://github.com/homebridge-xiaomi-roborock-vacuum/homebridge-xiaomi-roborock-vacuum/releases/tag/v0.27.0 fixed these issues, please?

[2022-10-06 20:03] afharo commented on #542
Can you confirm [v0.27.0](https://github.com/homebridge-xiaomi-roborock-vacuum/homebridge-xiaomi-roborock-vacuum/releases/tag/v0.27.0) fixed these issues, please?

[2022-10-06 20:03] afharo commented on #546
Can you confirm [v0.27.0](https://github.com/homebridge-xiaomi-roborock-vacuum/homebridge-xiaomi-roborock-vacuum/releases/tag/v0.27.0) fixed these issues, please?

[2022-10-06 20:04] afharo commented on #559
Can you confirm [v0.27.0](https://github.com/homebridge-xiaomi-roborock-vacuum/homebridge-xiaomi-roborock-vacuum/releases/tag/v0.27.0) fixed these issues, please?

[2022-10-07 04:39] luc-ass commented on #542
Seems to work for me (though it has been a fan since I needed to reinstall the plugin). Curious if this fixes the issue for other people.

[2022-10-07 06:03] Christian-CFP commented on #546
In the first try, yes!

Will test further. Thx.

[2022-10-07 06:20] nicolasbigot commented on #546
Same here, seems to be fixed! Many thanks @afharo

[2022-10-07 12:42] sorriso93 commented on #558
Ciao I don't see any warning on the homebridge log right now and seems good the plugin behaviour. Many thanks

[2022-10-07 16:13] BenjiBizz opened #577 "Slows down homebridge"
Pls fix this

thanks

![7FE0B528-8262-4AB3-AAE5-1E52F714AD47](https://user-images.githubusercontent.com/115275941/194599657-6955a476-e90c-43d2-abeb-3ac263f55957.jpeg)

[2022-10-08 09:33] diwiesign commented on #567
I have the same problem with the Roborock S6 too.

[2022-10-08 13:01] afharo commented on #567
We don't treat iPhone and HomePod requests differently. I'd say this is a bug on iOS16... They already introduced a regression themselves when they named all accessories the same. Refer to https://github.com/homebridge-xiaomi-roborock-vacuum/homebridge-xiaomi-roborock-vacuum/issues/552 for more context.

[2022-10-08 20:07] afharo commented on #577
Hi! I just tested this with my robot, and I couldn't see this line at all.

Looking where the warning is generated, it seems that it's triggered when the plugin takes longer than 30s to respond: https://github.com/homebridge/HAP-NodeJS/blob/f6629643e481032f2b166ca797315eacbea232ec/src/lib/Service.ts#L594-L613

The plugin triggers the Serial Number request as soon as it's requested. Typically, in a

[2022-10-09 15:01] WojtekWro commented on #559
@afharo thank you for your help, however I have still the same issue.

[2022-10-09 15:02] WojtekWro commented on #559
What is important, I have two vacuums. Only viomi.v7 faces this issue.

[2022-10-09 15:14] afharo commented on #559
@WojtekWro Thanks for confirming... `viomi` models have a very limited support at the moment.

I'll try to prioritize improving compatibility for the next versions.

[2022-10-09 15:20] afharo commented on #551
@xkyle22x it could change for a few reasons. One of them is reconfiguring it in the Xiaomi App, the wifi, or opening it in the Roborock app. There could be other reasons, but those are well known ones. I would suggest you double check extracting the token again. I found this option to be the easiest one: https://github.com/PiotrMachowski/Xiaomi-cloud-tokens-extractor

[2022-10-09 15:23] afharo commented on #551
That makes sense if HB is restarting, as it will stop all other plugins as well.

I'm not aware of how openhab works. How did you retrieve the token?

@mpuff,would you mind validating that it matches the output of the token you get with this method: https://github.com/PiotrMachowski/Xiaomi-cloud-tokens-extractor?

[2022-10-09 15:51] mpuff commented on #551
Openhab is extracting the token from the cloud, I think it's similar to your link how this is working

[2022-10-09 16:07] WojtekWro commented on #559
@afharo after a second try I am glad to tell you that it works fine :)
Now status changes to off after vacuum finishes job and announces command “going back to the dock”. I am not sure, but in the past the status went off when vacuum riches the dock. For me it is fine.
the most important, that I know when it finished job :)

thank you again.

[2022-10-09 17:37] mpuff commented on #551
I checked with your scribt, its the same token

[2022-10-11 00:44] BenjiBizz commented on #577
Everything is fine. Robot works.

Get this warning from Time to Time. Last des days- nothing warning. Dont know whats going on.

[2022-10-11 07:27] WojtekWro commented on #559
@afharo I ma sorry, but after a couple of tries it seems that the issue still occurs.

[2022-10-11 08:50] afharo commented on #559
OK! Thanks for confirming @WojtekWro! Ditto to the above: I'll try to prioritize improving `viomi` support in future releases :)

[2022-10-11 14:58] igorxmath opened #579 "Add support for Xiaomi Vacuum-Mop 2"
Please add support for Xiaomi Vacuum-Mop 2 (dreame.vacuum.p2140p)

https://home.miot-spec.com/s/dreame.vacuum.p2140p

[2022-10-12 18:57] afharo commented on #216
Hi! I think [v0.28.0](https://github.com/homebridge-xiaomi-roborock-vacuum/homebridge-xiaomi-roborock-vacuum/releases/tag/v0.28.0) should fix all the remaining bits we talked in this issue. I don't have that model. Would you mind testing it out?

[2022-10-12 18:57] afharo commented on #221
Hi! I think [v0.28.0](https://github.com/homebridge-xiaomi-roborock-vacuum/homebridge-xiaomi-roborock-vacuum/releases/tag/v0.28.0) should fix this issue. I don't have that model. Would you mind testing it out?

[2022-10-12 18:58] afharo commented on #283
Hi! I think [v0.28.0](https://github.com/homebridge-xiaomi-roborock-vacuum/homebridge-xiaomi-roborock-vacuum/releases/tag/v0.28.0) should fix this issue. I don't have that model. Would you mind testing it out?

[2022-10-12 18:58] afharo commented on #443
Hi! I think [v0.28.0](https://github.com/homebridge-xiaomi-roborock-vacuum/homebridge-xiaomi-roborock-vacuum/releases/tag/v0.28.0) should fix this issue. I don't have that model. Would you mind testing it out?

[2022-10-12 18:58] afharo commented on #450
Hi! I think [v0.28.0](https://github.com/homebridge-xiaomi-roborock-vacuum/homebridge-xiaomi-roborock-vacuum/releases/tag/v0.28.0) should fix this issue. I don't have that model. Would you mind testing it out?

[2022-10-12 18:59] afharo commented on #328
Hi! I think [v0.28.0](https://github.com/homebridge-xiaomi-roborock-vacuum/homebridge-xiaomi-roborock-vacuum/releases/tag/v0.28.0) should fix this issue. I don't have that model. Would you mind testing it out?

[2022-10-12 19:01] afharo commented on #345
Hi! I think [v0.28.0](https://github.com/homebridge-xiaomi-roborock-vacuum/homebridge-xiaomi-roborock-vacuum/releases/tag/v0.28.0) should fix this issue. I don't have that model. Would you mind testing it out?

[2022-10-12 19:23] afharo commented on #579
Self note for tackling this: the `python-miio` library has already parsed the specification into APIs. We can base our implementation on theirs: https://github.com/rytilahti/python-miio/blob/master/miio/integrations/vacuum/dreame/dreamevacuum_miot.py

[2022-10-14 01:37] protocold commented on #216
I am now on v0.28.0. I saw these error in the homebridge console log:

[14/10/2022, 09:33:25] [homebridge-xiaomi-roborock-vacuum] This plugin threw an error from the characteristic 'Rotation Speed': Unhandled error thrown inside read handler for characteristic: this.deviceManager.device.getWaterBoxMode is not a function. See https://homebridge.io/w/JtMGR for more info.
[14/10/2022, 09:33:25] [home

[2022-10-14 05:19] afharo commented on #216
@protocold thank you for the logs. I can see what's next to look at

[2022-10-15 11:08] adamxfort commented on #283
Hey,I've tried to enable the autoroom feature on 0.28 with my xiaomi robot vacuum mop pro but I got the same issue with timeout following by a crash of the plugin

[2022-10-15 17:16] protocold commented on #216
cool. let me know if you want me to test out/look at anything.

[2022-10-16 09:03] bkarakashev opened #582 "Add support for No-Go Zones"
Can you please add support for No-Go Zones?

[2022-10-16 12:38] nseries100 opened #583 "HomeBridge roborock s6 log errors after update to latest plugin version"
It worked fine some time. Today I want to update some plugins and when I was checking log I found these errors for my roborock s6 after update to latest plugin version. Settings did not changed.

For now Im back on this version homebridge-xiaomi-roborock-vacuum v0.26.3 and it looks like its working again.

`[16/10/2022, 14:31:22] [Vysavač] [Model=unknown] getSerialNumber | No vacuum cleaner is dis

[2022-10-16 20:37] afharo commented on #582
@bkarakashev would you mind explaining what you have in mind and how you would use No-go zones via HomeKit?

[2022-10-16 20:40] afharo commented on #583
@nseries100 those logs show that the plugin did not manage to connect to the vacuum yet. But it keeps trying. The same applies to older versions.

Did you get any sort of crash or anything that made you roll back to the previous version?

[2022-10-17 04:36] nseries100 commented on #583
I rolled back to older version because I want to try if it will be work again. And It just works. Older version = no errors in log.

[2022-10-17 13:01] bkarakashev commented on #582
I have a table in the midle of the room which I have No-Go zone around it as the hoover is scratching the table legs.
And instead of me setting multiple zoons all around the table ideally I would set one big square and one no-go zone for the whole room.

Does it make sense @afharo? 🙂
![IMG_2401](https://user-images.githubusercontent.com/6206509/196183555-8a6d07e1-a39b-4c13-bbac-0c8130ea3c22.jpeg)

[2022-10-17 15:24] dehlen commented on #583
I am having the same problem. It worked when initially setup but now does not. I have a static IP for my roborock s6 and the token is definitely correct. Rolling back to 0.26.3 did not work for me.

[2022-10-17 21:39] afharo commented on #583
FWIW, the reconnection logic has not changed in recent versions.

The described behavior seems familiar as it has randomly happened in the past. The plugin failed to connect on the first attempt and was not able to connect on the retries. Typically, restarting the plugin (sometimes a couple of times would fix it).

Probably that's why @nseries100 saw this resolved after rolling back. But @dehlen's

[2022-10-17 21:43] afharo commented on #582
@bkarakashev, it does make perfect sense! I also use the No-go zones and invisible walls to limit areas I don't want the robot to reach.

My question is: why do you need this plugin to add support for it?

In my experience, setting up the no-go zones in the app works fine with the _Start cleaning_ commands that I send through this plugin (via Home automations when I leave the house).

Is it not wo

[2022-10-18 14:12] bkarakashev commented on #298
Hi, @h0mesmart  I am having exactly the same issue.
I know the newer models have multi-floor support in the app but the S5 max doesn't have that ☹️.
https://support.roborock.com/hc/en-us/articles/900002181666-How-to-create-multiple-maps-for-multi-level-house-

It would be nice if we could save the map and then be able to recall the map for the correct floor or something like that.
@afharo  do you

[2022-10-18 14:14] bkarakashev commented on #582
@afharo  Basically I need to have multi-floor support.
And I thought maybe I could have all the coordinates and zones for one floor with the no-go zone and then all the coordinates for another zone on the next floor.
I guess at the end of the day the map doesn't matter if I set the correct coordinates in the zones.
Yes in the app it may look a bit weird but it will go in the right places.

[2022-10-18 22:22] afharo commented on #582
That is an interesting use case.

I noticed you commented on https://github.com/homebridge-xiaomi-roborock-vacuum/homebridge-xiaomi-roborock-vacuum/issues/298, which explicitly talks about robots that support multi-room.

I also see you have the Roborock S5 (I also have that one :hi-five:). An idea I have is to expose a set of switches to load maps in the history.

This way you could record one ma

[2022-10-19 10:36] bkarakashev commented on #582
@afharo  this is a great idea, if you can add this kind of functionality that will be amazing.

[2022-10-19 13:01] Johnny99211 opened #586 "Room cleaning scene not working"
I've recently installed your plugin and tried everything out. Great stuff! After playing around with the rooms, I finally have all rooms mapped correctly. I've added my HB to HomeKit and configured the names of my rooms there as well.

After this, I've added a new scene. Within this scene, I've added my room switch and the main switch for the device. In my example I've named it “Clean kitchen” whi

[2022-10-19 13:42] afharo commented on #586
@Johnny99211, I think the switch to start the robot is reaching the robot before the room switch is activated. IMO, since you have the cleaning timeout to 5... I don't think you need to explicitly start the cleaning. Just set the room ON, and wait 5 seconds... it should automatically start cleaning.

[2022-10-22 11:25] yangirov commented on #444
When I use command `miio-vacuum inspect YOUR_IP --token YOUR_TOKEN` device not found.

But, when I use [python-miio](https://github.com/rytilahti/python-miio) everything is OK.

Maybe this information will be useful.

![image](https://user-images.githubusercontent.com/32175431/197336352-f72ba6a8-f169-45ac-accd-af8cbab17236.png)

[2022-10-22 11:48] yangirov commented on #444
But, device found if i use`miio-vacuum discover --token 437770674578317276634e30574f6168`

![image](https://user-images.githubusercontent.com/32175431/197337208-3acaa261-6506-4041-97fd-1b4068dc06b6.png)

[2022-10-22 12:04] yangirov commented on #551
Unfortunately, I have same situation. I did exactly the same actions.

I am sure of the correctness of the token, I received it using [xiaomi-cloud-tokens-extractor](https://github.com/PiotrMachowski/Xiaomi-cloud-tokens-extractor) and Mi Home backup.

I have already written about it [#444](https://github.com/homebridge-xiaomi-roborock-vacuum/homebridge-xiaomi-roborock-vacuum/issues/444#issuecommen

[2022-10-22 12:05] yangirov commented on #500
It didn't help me. See #444

[2022-10-23 13:46] afharo commented on #444
@yangirov I think your case is different to the ones above. That model is not supported yet by this plugin. Refer to https://github.com/homebridge-xiaomi-roborock-vacuum/homebridge-xiaomi-roborock-vacuum/issues/434 for more info.

[2022-10-28 13:01] paskovitch opened #594 "Add support zoneTimeout"
HI!
Can you make same parameter as roomTimeout, but it would depend on the zones?
Thank you!

[2022-10-31 15:32] kdurek commented on #221
@afharo
Hi, accidentaly found this thread because it was not working for me
Suddenly I am on v0.28.0 and it's still have problems with autoroom, function that I wished the most :(

[2022-11-01 14:47] LukasEm commented on #431
Hello, sorry for maybe a stupid question, but how to run command miiocli? I installed miio-api npm but the command you suggested cant be run, what should I install?

[2022-11-02 08:37] alesp56 commented on #104
Is anything new about the token retrieval with the Roborock app?

[2022-11-02 08:51] paskovitch commented on #594
I use Node-red for automations. I have first generation vacuum cleaner, therefore there is no room selection function. A zone means a room for me. If a zone cleaning is started, I want to send a zone-specific message about it to my phone with pushover api. If all the zones turn on, I don't know which one was triggered because they are all on.

[2022-11-02 11:19] charlesvestal commented on #444
for what it's worth, on a fritzbox, i am having the same experience as @yangirov

Token is successfully extracted:
[code]
and via miiocli

[code]

but can't be inspected with miio-vacuum

[code]

and doesn't return device info
[code]

[2022-11-02 21:51] afharo commented on #594
That's a different issue, IMO.

Just to be clear: you are requesting:

1. Being able to trigger multiple zone buttons at once (as in each zone is a room and you want to be able to select multiple rooms at once)
2. Only the actual zones that are being cleaned up should show as ON, and the rest should show as OFF.

Did I get it right? Did I miss anything?

[2022-11-02 21:59] paskovitch commented on #594
Yes, you're right!

[2022-11-07 04:16] Frankn772 opened #601 "Imilab V1 not work"
I can't get the imilab V1 set up. Does anyone have an idea?

[2022-11-07 08:19] afharo commented on #601
Wow! That's a whole new line of robots! 😱

I'll need to check how hard it is to map the commands.

[2022-11-17 16:27] JanLp opened #606 "Room> name"
Please deploy the roomname to HomeKit ... It is not optimal for each contact to be named "contact, contact2 etc"

[2022-11-17 16:30] JanLp commented on #606
[code]

![Skærmbillede 2022-11-17 kl  17 30 22](https://user-images.githubusercontent.com/55313117/202502758-0264f5d9-44b2-49bf-8109-e8f3095eee82.png)

[2022-11-17 21:44] afharo commented on #606
Hi @JanLp,

If I understood correctly, you are referring to an issue where room names are not shown in the Home app.

Instead, they all show the same name as the original service.

The plugin reports them and it used to work on previous versions of iOS. However, iOS 16 introduced a bug on their end where it names all services related to an accessory under the same name.

Here's the first issue whe

[2022-11-17 21:44] #606 closed

[2022-11-27 06:57] GaryEl opened #609 "Homebridge service while when plugin activated"
Hi my homebridge not work whenthe plugin is activated :

27/11/2022, 08:56:21] [Roborock Q7] [Model=unknown] ERR connect | miio.device, next try in 2 minutes | Error: Could not connect to device, handshake timeout
[27/11/2022, 08:56:21] Error: Could not connect to device, handshake timeout
    at Timeout._onTimeout (/var/lib/homebridge/node_modules/homebridge-xiaomi-roborock-vacuum/src/miio/lib/de

[2022-11-27 17:53] rachedamer opened #610 "Room cleaning / Where is no longer accessible in new Home app"
With the update in the Apple Home app in Ventura and iOS 16 as well as with the last Homepod Mini update I can no longer access the room cleaning / "where is" / other additional functions via voice. In the Home app, I see a "Locky" (my vacuum cleaner's name) entry with nine sub-entries that are all called "Locky". On my iPad where there is still iOS 15, these entries have useful names such as "Loc

[2022-11-28 17:57] ablyes commented on #609
I'm facing the same problem

{code}
[28/11/2022 18:25:17] [Alfred] [Model=unknown] ERR connect | miio.device, next try in 2 minutes | Error: Could not connect to device, handshake timeout
[28/11/2022 18:25:17] Error: Could not connect to device, handshake timeout
    at Timeout._onTimeout (/usr/lib/node_modules/homebridge-xiaomi-roborock-vacuum/src/miio/lib/device_info.js:218:21)
    at listOnTime

[2022-11-28 22:53] afharo commented on #609
Hi! Thanks for reporting. Is it crashing homebridge or breaking other plugins' functionality? This plugin should automatically retry the connection every 2 minutes.

Also, have you validated the token and IP are correct? Please, follow the last section of the README (https://github.com/homebridge-xiaomi-roborock-vacuum/homebridge-xiaomi-roborock-vacuum#is-my-model-supported) to validate those are

[2022-11-28 22:57] afharo commented on #610
It's a bug on iOS16 that affects many `homebridge` plugins. Please refer to https://github.com/homebridge-xiaomi-roborock-vacuum/homebridge-xiaomi-roborock-vacuum/issues/552 where there's a link to the original `homebridge` issue. There's a workaround to fix that.

I'll go ahead and close this issue as there's nothing we can do in this plugin to fix it (we register the accessories with the right n

[2022-11-28 22:57] #610 closed

[2022-11-28 22:58] afharo commented on #567
Closing this issue as it's confirmed to be a a bug from iOS16. Refer to https://github.com/homebridge-xiaomi-roborock-vacuum/homebridge-xiaomi-roborock-vacuum/issues/552 for more context and potential workarounds.

[2022-11-28 22:58] #567 closed

[2022-11-29 11:00] ablyes commented on #609
It's crashing homebridge. From my side, i have integrated in jeedom as a plugin.
Jeedom is warning me that the plugin is broken.
It's not braking others plugins.
The IP is correct, the token i don't know if Xiaomi is changing that sometimes. But anyway, we should not have a crash, just a warning that something is wrong, ip or token, or whatever.

[2022-11-29 11:24] afharo commented on #609
I agree that it should not crash! I'll take a look to figure out where is that crash coming from.

[2022-11-30 01:59] GaryEl commented on #609
Hi this is crash of homebridge, and yes token and IP are good, the plugin was working very well last week and there was this bug and since then I can't activate it because it makes homebridge crack

![4AD579BB-E4FA-47FD-BED4-0DE0285D68B1](https://user-images.githubusercontent.com/70843832/204688831-edc4636c-ec25-460c-843e-973c82e05d31.png)

![6E0F652A-55F5-42B6-98A3-B6BD16D14DD2](https://user-imag

[2022-11-30 15:48] afharo commented on #609
Understood! I'll try to catch the part where we throw the error that crashes the whole thing